{% extends "base.html" %}
{% block title %}Sudoku Start Over{% endblock %}
{%block startover_modal %}
 <!-- Add Modal -->
 <div class="modal fade" id="startover_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        </div>

        <div class="modal-body">
          <form id="difficulty" action="/startover" method="post" novalidate>
            <p>All your hard work will be deleted. Are you sure you want to start over?</p>
            <div>
                <input type="text" hidden value="yes"></button>
            </div>

            <div class="modal-footer justify-content-center">
                <button type="submit" class="btn btn-secondary">Yes</button>
                <a href="sudoku" class="btn btn-secondary">No</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
{%endblock%}

{% block startover_script %}
<script>
    $(document).ready(function(){
        console.log("window is loaded")
        $("#startover_modal").modal("show")
    })
</script>
{%endblock%}